/* Local Fonts */
@import './partials/_fonts.css';

/* Minor resets */
@import './partials/_base.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_container.css';
@import './partials/_typography.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

.embla {
  width: 100%;
}

.embla__wrap {
  position: relative;
}

.embla__viewport {
  width: 100%;
  overflow: hidden;
}
.embla__container {
  display: flex;
  
  @screen md {
    margin-left: -15px;
  }
}

.embla__container--project {
  @screen md {
    margin-left: 0px;
  }
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;

  @screen md {
    flex: 0 0 50%;
    padding-left: 15px;
  }

  @screen xl {
    flex: 0 0 33.333333%;
    padding-left: 15px;
  }
}

.embla__slide--project {
  @screen md {
    flex: 0 0 100%;
    padding-left: 0px;
  }

  @screen xl {
    flex: 0 0 100%;
    padding-left: 0px;
  }
}